.container {
  display: block;
  height: auto;
  width: auto;
  background-color: transparent;
  border: 1px solid rgba(119, 118, 118, 0.2);
}

.accord_section {
  display: block;
  border-bottom: 1px solid rgba(61, 61, 61, 0.2);
}

.accord_label {
  display: block;
  background-color: rgba(119, 118, 118, 0.4);
  padding: 8px 15px;
}
.accord_label:hover {
  background-color: rgba(119, 118, 118, 0.6);
}
.accord_content {
  display: block;
  padding: 8px 15px;
}
.plus,
.minus {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
}
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  transition: width 2s, height 4s;
}
.tab-content {
  display: block;
  width: auto;
  height: 200px;
  transition: width 2s, height 4s;
}

/* TODO CSS */
.accord_title {
  cursor: pointer;
}
