.app {
  display: block;
  padding: 15px 25px;
}

.container {
  display: block;
  height: auto;
  width: auto;
  background-color: transparent;
  border: 1px solid rgba(119, 118, 118, 0.2);
}

.accord_section {
  display: block;
  border-bottom: 1px solid rgba(61, 61, 61, 0.2);
}

.accord_label {
  display: block;
  background-color: rgba(119, 118, 118, 0.4);
  padding: 8px 15px;
}
.accord_label:hover {
  background-color: rgba(119, 118, 118, 0.6);
}
.accord_content {
  display: block;
  padding: 8px 15px;
}
.plus,
.minus {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
}

/*Tabs CSS*/
.tabs {
  display: block;
  min-height: 250px;
  border: 1px solid rgba(119, 118, 118, 0.2);
}
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
.tab-content {
  display: block;
  padding: 15px;
}

/* TODO CSS */
.accord_title {
  cursor: pointer;
}

/* Multiple select */
.multiselect_container {
  display: block;
  width: 100%;
  min-height: 50px;
  max-height: 500px;
}
.option_box {
  display: flex;
  width: 100%;
  min-height: 100px;
  max-height: 260px;
  overflow-y: auto;
  padding: 0px;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgba(119, 118, 118, 0.4);
  box-shadow: 10px 7px 15px 6px rgba(119, 118, 118, 0.2);
  background-color: #fff;
}

fieldset {
}
.select_option {
  padding: 3px 4px;
  display: block;
  list-style: none;
  width: 100%;
  cursor: pointer;
  border-top: 1px solid rgba(152, 148, 148, 0.2);
}
.select_option:last-child {
  border-bottom: 1px solid rgba(152, 148, 148, 0.2);
}
.select_option:hover {
  background-color: #ccc;
}
.selected {
  background-color: rgba(60, 57, 57, 0.1);
  border-top: 1px solid rgba(56, 53, 53, 0.2);
}

.empty_text {
  display: block;
  text-align: center;
  font-size: 14px;
  color: rgba(119, 118, 118, 0.56);
  padding: 15px;
}
.custom_select {
  display: block;
  width: 100%;
  margin-top: 4px;
}
.select_box {
  display: block;
  width: 100%;
}
.input-group {
  display: block;
  position: relative;
  width: 100%;
}
.input_dropdown {
  display: block;
  width: 100%;
  padding: 8px;
  margin-right: 52px;
  border: 1px solid rgba(119, 118, 118, 0.4);
}
.input_dropdown:hover {
  border-left: 1px solid #444444;
}

.indicator {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 24px;
  top: 4px;
  right: 0px;
  bottom: 4px;
  border-left: 1px solid #c1bfbf;
  cursor: pointer;
}
.indicator:hover {
  border-left: 1px solid #444444;
}
.arrow-up {
  transform: rotate(90deg);
  font-size: 22px;
  font-weight: bold;
  opacity: 0.8;
}
.arrow-down {
  transform: rotate(90deg);
  font-size: 22px;
  font-weight: bold;
  opacity: 0.8;
}
.select_input {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid rgba(119, 118, 118, 0.4);
  background-color: rgba(224, 220, 221, 0.2);
}
.hidden {
  display: none;
}

/* placeholder */
.placeholder {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 32px;
  max-height: auto;
  border: 1px solid rgba(119, 118, 118, 0.4);
}
.placeholder:hover {
  border: 1px solid rgba(119, 118, 118, 0.8);
}
button {
  text-align: center;
  background-color: #fff;
}
.placeholder-text {
  display: inline-block;
  text-align: center;
  padding: 6px 0px;
  color: #717171;
}

.chips-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  align-items: left;
}
.chip-content {
  display: inline-block;
  padding: 3px;
  margin: 0 2px;
  line-height: 14px;
  background-color: #e0dede;
  text-align: center;
  color: rgba(39, 38, 38, 0.8);
  letter-spacing: 1px;
  border-radius: 3px;
  cursor: pointer;
}
.remove {
  display: inline-block;
  border-left: 1px solid rgba(39, 38, 38, 0.2);
  font-size: 11px;
  padding: 0 3px;
  color: rgba(39, 38, 38, 0.9);
  font-weight: bold;
}
/* Customize the label (the container) */
.custom_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;

  border: 2px solid #5a5959;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.custom_checkbox:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.custom_checkbox input:checked ~ .checkmark {
  background-color: #1b1b1b;
  border: 2px solid #1b1b1b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom_checkbox .checkmark:after {
  left: 6px;
  top: 0px;
  width: 4px;
  height: 12px;
  border: solid #d5d6d6;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Chips CSS */
.chips_container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  height: 60px;
  padding: 6px;
  border: 1px solid rgba(130, 127, 127, 0.1);
  overflow: auto;
}

.chip {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3px;
  margin: 2px;
  height: 24px;
  font-size: 14px;
  text-align: center;
  min-width: 60px;
  max-width: 150px;
  line-height: 24px;
  border-radius: 25px;
  color: rgba(12, 7, 7, 0.64);
  background-color: #f1f1f1;
  cursor: pointer;
}
.chip_content {
  display: flex;
  justify-content: left;
}
.chip_close_icon {
  display: flex;
  justify-content: right;
  width: 24px;
  height: 24px;
  padding: 0 6px;
  margin-left: 4px;
  color: rgba(255, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-radius: 50%;
  font-weight: bold;
  float: right;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.chip_close_icon:hover {
  border: 1px solid rgb(247, 100, 100);
  color: rgb(247, 100, 100);
}
.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
